.author {
  font-size: var(--font-default-size);
  line-height: var(--font-default-line-height);
  margin-top: 30px;
  margin-bottom: 30px;
  color: var(--heading-color);

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .details > span {
    display: inline-block;
    vertical-align: middle;
  }

  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid var(--heading-color);
  }

  .author-name {
    font-weight: bold;
    margin-left: 5px;
  }
  .author-divider {
    padding-left: 5px;
    padding-right: 5px;
  }

  .sharing {
    svg {
      color: var(--tag-color);
      border: none;
      border-radius: 0;
      width: 20px;
      height: 20px;
    }
    a {
      color: var(--tag-color);
      text-decoration: none;
      &:hover {
        text-decoration: none;
        svg {
          color: var(--text-color);
        }
      }
    }
    a:not(:last-of-type) {
      margin-right: 0.5rem;
    }
  }
}
