.footer {
    text-align: center;
    padding-top: 100px;
    color: var(--tag-color);
    a {
        padding-right: 10px;
        color: var(--tag-color);
        &:hover {
            color: var(--text-color);
        }
    }
}
