.footer {
    padding-top: 100px;
    font-size: 12px;
    img {
        display: inline-block;
        vertical-align: middle;
    }
    .footer-author {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
}
  