.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  font-size: var(--font-default-size);
  @include breakpoint("small") {
    padding-bottom: 5px;
    margin-bottom: 40px;
  }
  a.header-logo {
    margin-right: 30px;
    font-weight: bold;
  }
}