.intro {
  margin-bottom: 60px;
  h1 {
    font-size: 48px;
    line-height: 56px;
    margin-top: 0;
    @include breakpoint('small') {
      // width: 80%;
      font-size: 66px;
      line-height: 94px;
    }
    strong {
      color: var(--highlight-color);
    }
  }
  h2 {
    font-size: 50px;
    line-height: 56px;
    @include breakpoint('small') {
      width: 80%;
    }
  }
  p {
    font-size: var(--font-default-size);
    line-height: var(--font-default-line-height);
    @include breakpoint('small') {
      width: 80%;
    }
  }
  img {
    max-width: 100%;
  }

  .hello {
    p {
      margin-bottom: 0px;
    }
  }
  
}

.page-heading {
  border: 3px solid var(--highlight-color);
  box-shadow: 11px 11px var(--highlight-color);
  padding: 30px;
  h1 {
    margin-bottom: 0;
  }
}