ul.pagination {
  display: flex;
  justify-content: center;
  li {
    height: 48px;
    width: 48px;
    a {
      color: var(--heading-color);
      border: 1px solid var(--heading-color);
      box-shadow: 5px 5px var(--heading-color);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }
  li.disabled {
    display: none;
  }
  li.active {
    a {
      color: var(--highlight-color);
      border: 1px solid var(--highlight-color);
      box-shadow: 5px 5px var(--highlight-color);
    }
  }
  li:not(:last-of-type) {
    margin-right: 1rem;
  }
}
