.sun-and-moon > :is(.moon, .sun, .sun-beams) {
	transform-origin: center center;
}

.sun-and-moon > :is(.moon, .sun) {
	fill: var(--icon-fill);
}

.theme-toggle:is(:hover, :focus-visible) > .sun-and-moon > :is(.moon, .sun) {
	fill: var(--icon-fill-hover);
}

.sun-and-moon > .sun-beams {
	stroke: var(--icon-fill);
	stroke-width: 2px;
}

.theme-toggle:is(:hover, :focus-visible) .sun-and-moon > .sun-beams {
	stroke: var(--icon-fill-hover);
}

[data-theme="dark"] .sun-and-moon > .sun {
	transform: scale(1.75); // make inner circle large in dark theme
}

[data-theme="dark"] .sun-and-moon > .sun-beams {
	opacity: 0; // remove the beams in dark theme
	transform: rotate(-25deg);
}

[data-theme="dark"] .sun-and-moon > .moon > circle {
	transform: translate(-7px); // make moon look crescent by adding mask
}

@media (prefers-reduced-motion: no-preference) { // user might be okay with animations
	.sun-and-moon > .sun {
		transition-duration: .25s; // time taken for scale transformation of inner circle
	}
	.sun-and-moon > .sun-beams {
		transition: transform .5s ease-in-out; // rotate beams slowly
	}
	[data-theme=dark] .sun-and-moon > .moon > circle { // add cresent in moon slowly
		transition-delay: .25s;
		transition-duration: .25s
	}
}

.theme-toggle {
	--size: var(--font-default-size);
	--icon-fill: hsl(210 10% 30%);
	--icon-fill-hover: hsl(210 10% 15%);
	background: none;
	border: none;
	padding: 0;
	inline-size: var(--size);
	block-size: var(--size);
	aspect-ratio: 1;
	border-radius: 50%;
	cursor: pointer;
	touch-action: manipulation;
	-webkit-tap-highlight-color: transparent;
	outline-offset: 5px;
}

.theme-toggle > svg {
	inline-size: 100%;
	block-size: 100%;
	stroke-linecap: round;
}

[data-theme="dark"] .theme-toggle {
	--icon-fill: hsl(210 10% 70%);
	--icon-fill-hover: hsl(210 15% 90%);
}

@media (hover: none) {
	.theme-toggle {
		--size: 48px;
	}
}