:root {
  --font-family-heading: 'PT Sans', sans-serif;
  --font-family-paragraph: 'PT Sans', sans-serif;
  --font-family-monospace: 'JetBrains Mono', monospace;
  --highlight-color: {{ .Site.Params.highlightColor | default "#113CFC" }};
  --base-color: #ffffff;
  --page-heading-color: #292929;
  --heading-color: #1c1b1d;
  --text-color: #292929;
  --tag-color: #666666;
  --font-default-size: 20px;
  --font-default-line-height: 32px;
  --footer-item-size: 20px;
  --padding-screen: 50px;
  --padding-small-screen: 20px;
}

[data-theme="dark"] {
  --highlight-color: #e3e5e7;
  --base-color: #131418;
  --page-heading-color: #e3e5e7;
  --heading-color: #e3e5e7;
  --text-color: #babdc4;
  --tag-color: #8c8e93;
}

$breakpoints: (
  'small': 767px,
  'medium': 992px,
  'large': 1200px,
);

@import 'normalize';
@import 'breakpoints';
@import 'header';
@import 'footer';
@import 'content';
@import 'intro';
@import 'summary';
@import 'author';
@import 'tags';
@import 'pagination';
@import 'main-menu';
@import 'main-menu-mobile';
@import 'recent-posts';
@import 'sun-moon';

html, body {
  box-sizing: border-box;
}

body {
  background: var(--base-color);
  font-family: var(--font-family-paragraph);
  font-size: var(--font-default-size);
  line-height: var(--font-default-line-height);
  color: var(--text-color);
  margin: 0;
  padding: var(--padding-small-screen);
  overflow-x: hidden;
  @include breakpoint('small') { // min width check
    padding: var(--padding-screen);
  }
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
