:root {
  --font-family-heading: 'PT Sans', sans-serif;
  --font-family-paragraph: 'PT Sans', sans-serif;
  --font-family-monospace: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  --base-color: #ffffff;
  --base-offset-color: #eaeaea;
  --highlight-color: {{ .Site.Params.highlightColor | default "#7b16ff" }};
  --heading-color: #1c1b1d;
  --text-color: #292929;
  --font-default-size: 20px;
  --font-default-line-height: 32px;
  --tag-color: #666666;
}

$breakpoints: (
  'small': 767px,
  'medium': 992px,
  'large': 1200px,
);

@import 'normalize';
@import 'breakpoints';
@import 'header';
@import 'footer';
@import 'content';
@import 'intro';
@import 'summary';
@import 'author';
@import 'tags';
@import 'pagination';
@import 'main-menu';
@import 'main-menu-mobile';
@import 'recent-posts';

html, body {
  box-sizing: border-box;
}

body {
  background: var(--base-color);
  font-family: var(--font-family-paragraph);
  font-size: var(--font-default-size);
  line-height: var(--font-default-line-height);
  color: var(--text-color);
  margin: 0;
  padding: 20px;
  overflow-x: hidden;
  @include breakpoint('small') {
    padding: 50px;
  }
  &.frame {
    min-height: 100vh;
    // border: 18px solid var(--highlight-color);
  }
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
