<div class="footer">
   <div class="footer-site">
      {{ if .Site.Params.ccLicenseURL }}<span class="footer-license"><a rel="license" href="{{.Site.Params.ccLicenseURL}}">{{ partial "svg/cc.svg" }}</a></span>{{ end }}
      <span class="footer-name">{{ .Site.Data.author.name }}</span>
   </div>
 <div class="footer-menu">
    {{ if .Site.Params.ccLicenseURL }}<a rel="license" class="mobile-license" href="{{.Site.Params.ccLicenseURL}}">{{ partial "svg/cc.svg" }}</a>{{ end }}
    {{ if .Site.Params.twitterUsername }}<a href="https://twitter.com/{{.Site.Params.twitterUsername}}">{{ partial "svg/twitter.svg" }}</a>{{ end }}
    {{ if .Site.Params.githubUsername }}<a href="https://github.com/{{.Site.Params.githubUsername}}">{{ partial "svg/github.svg" }}</a>{{ end }}
    {{ if .Site.Params.linkedinUsername }}<a href="https://linkedin.com/{{.Site.Params.linkedinUsername}}">{{ partial "svg/linkedin.svg" }}</a>{{ end }}
    {{ if .Site.Params.email }}<a href="mailto:{{.Site.Params.email}}">{{ partial "svg/mail.svg" }}</a>{{ end }}
 </div>
</div>