<div class="footer">
 <div class="footer-menu">
    {{ if .Site.Params.ccLicenseURL }}<a rel="license" href="{{.Site.Params.ccLicenseURL}}"><img src="/images/cc.svg" /></a>{{ end }}
    {{ if .Site.Params.twitterUsername }}<a href="https://twitter.com/{{.Site.Params.twitterUsername}}"><img src="/images/social/twitter.svg" /></a>{{ end }}
    {{ if .Site.Params.email }}<a href="mailto:{{.Site.Params.email}}"><img src="/images/social/mail.svg" /></a>{{ end }}
    {{ if .Site.Params.linkedinUsername }}<a href="https://linkedin.com/{{.Site.Params.linkedinUsername}}"><img src="/images/social/linkedin.svg" /></a>{{ end }}
    {{ if .Site.Params.githubUsername }}<a href="https://github.com/{{.Site.Params.githubUsername}}"><img src="/images/social/github.svg" /></a>{{ end }}
 </div>
</div>