<div id="menu-main-mobile" class="menu-main-mobile">
    <ul class="menu">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            <li class="menu-item-{{ .Name | lower }}{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">
                <a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
            </li>
        {{end}}
        <br />
        <li class="menu-item-switch-theme"><a href="#" id="theme-toggle-mobile">Switch to <span id="opp-theme"></span> theme</a></li>
    </ul>
</div>